{% extends 'access_admin/index.html' %}

{% load humanize %}

{% block main-content %}
    <form method="post" action="{% url 'access_admin:doctor_search_policy' %}">
    <div class="page-header">
        <h3 class="page-title"> Search member </h3>
    </div>

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Policy</h4>

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="policy_number"> Policy number</label>
                                <input type="text" class="form-control" name="policy_number" value="{{ form.policy_number.value | default_if_none:'' }}">
                                {% if form.policy_number.errors %}
                                    {% for error in form.policy_number.errors %}
                                        <p class="text-warning">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col-md-3 form-group">
                                <label for="surname">Policyholder Surname</label>
                                <input type="text" class="form-control" name="surname" value="{{ form.surname.value | default_if_none:'' }}">
                                {% if form.surname.errors %}
                                    {% for error in form.surname.errors %}
                                        <p class="text-warning">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col-md-3 form-group">
                                <label>ID number</label>
                                <input type="text" class="form-control" name="id_number" value="{{ form.id_number.value | default_if_none:'' }}">
                                {% if form.id_number.errors %}
                                    {% for error in form.id_number.errors %}
                                        <p class="text-warning">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col-md-2">
                                <input type="submit" class="btn btn-outline-success mt-lg-4" name="search" value="Search">
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

    {% if policies %}
        <div class="row ">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> Policy number</th>
                                        <th> Name</th>
                                        <th class="text-center"> Dependents</th>
                                        <th class="text-center"> Monthly premium</th>
                                        <th class="text-center"> Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for policy in policies %}
                                    <tr>

                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ policy.id }}</td>

                                        <td>
                                            <a href="{% url 'access_admin:view_policy' policy.id %}" class="text-muted">
                                                {{ policy.title }} {{ policy.firstName | title }} {{ policy.surname | title }}
                                            </a>
                                        </td>

                                        <td class="text-center"> {{ policy.dependents | length }}</td>
                                        <td class="text-center"> {{ policy.monthly_premium | intcomma | floatformat:2 }}</td>
                                        <td class="text-center">
                                            {% if policy.status == 'active' %}
                                                <p class="badge badge-outline-success">Active</p>
                                            {% elif policy.status == 'lapsed' %}
                                                <p class="badge badge-outline-danger">Lapsed</p>
                                            {% else %}
                                                <p class="badge badge-outline-warning">Overdue</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="data-wrapper">
                                <button type="submit" name="next" class="btn btn-dark float-left" onclick="window.history.back(); return false;"><< Back</button>
                            {% if last %}
                                <input type="submit" name="next" value="Next >>" class="btn btn-dark float-right">
                                <input type="hidden" name="last" value="{{ last }}">
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    </form>
{% endblock %}


{% block script %}
    <script>
    </script>
{% endblock %}

