{% extends 'access_admin/index.html' %}

{% block main-content %}
    <div class="page-header">
        <h3 class="page-title"> Search doctor </h3>
    </div>

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Doctor</h4>
                    <form method="post" action="{% url 'access_admin:search_doctor' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 form-group">
                                    <label> City</label>
                                    <select name="city" id="city" class="js-example-basic-single my-city" style="width:100%" onchange="fetchSuburbsSearch(value)">
                                    <option value="" disabled selected>Select city</option>
                                        {% for choice in form.city.field.choices %}
                                            <option value="{{ choice.0 }}"
                                                    {% ifequal choice.0 form.city.value %}
                                                        selected
                                                    {% endifequal %}
                                            >{{ choice.1 }}</option>
                                        {% endfor %}

                                    </select>
                                    {% if form.city.errors %}
                                        {% for error in form.city.errors %}
                                            <p class="text-warning">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                            </div>

                            <div class="col-md-3 form-group">
                                <label>Suburb</label>
                                <div class="row">
                                <div class="col-sm-12" id="suburb-select-div">
                                    <select name="suburb" id="suburb" class="js-example-basic-single my-city" style="width:100%">
                                        <option value="" disabled selected>Select suburb</option>
                                    </select>
                                    {% if form.suburb.errors %}
                                        {% for error in form.suburb.errors %}
                                            <p class="text-warning">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="clearfix col-sm-2" id="suburb-spinner">
                                  <div class="spinner-border float-right" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                </div>
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <label>Surname</label>
                                <input type="text" class="form-control" name="surname" value="{{ form.surname.value | default_if_none:'' }}">
                                {% if form.surname.errors %}
                                    {% for error in form.surname.errors %}
                                        <p class="text-warning">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col-md-2">
                                <button type="submit" class="btn btn-outline-success mt-lg-4">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if doctors %}
        <div class="row ">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> Name</th>
                                        <th> Suburb</th>
                                        <th> City</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for doc in doctors %}
                                    <tr>

                                        <td>{{ forloop.counter }}</td>

                                        <td>
                                            <a href="{% url 'access_admin:view_doctor' doc.id %}" class="text-muted">
                                                {{ doc.name }}
                                            </a>
                                        </td>

                                        <td> {{ doc.suburb }}</td>
                                        <td> {{ doc.city }}</td>
                                        <td>
                                            {% if doctor_id %}
                                                <a href="{% url 'access_admin:specialist_doctor' doctor_id specialist.id %}" class="btn btn-outline-success mt-lg-4">Add</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="data-wrapper"></div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            console.log('THis fired');
            const city = $('#city').val();
            console.log(city)
            if (city!==null) {
                fetchSuburbsSearch(city);
            }
        })
    </script>
{% endblock %}

