{% extends 'doctor/doctor_base.html' %}

{% load humanize %}

{% block main-content %}
    <form method="post" action="{% url 'access_admin:doctor_search_policy' %}">
    <div class="page-header">
        <h3 class="page-title"> Search member </h3>
    </div>

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Policy</h4>

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="policy_number"> Policy number</label>
                                <input type="text" class="form-control" name="policy_number" value="{{ form.policy_number.value | default_if_none:'' }}">
                                {% if form.policy_number.errors %}
                                    {% for error in form.policy_number.errors %}
                                        <p class="text-warning">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col-md-2">
                                <input type="submit" class="btn btn-outline-success mt-lg-4" name="search" value="Search">
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

    {% if searched %}
        <div class="row ">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        {% if dependents %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> Name</th>
                                        <th class="text-center"> ID number</th>
                                        <th class="text-center"> Gender</th>
                                        <th class="text-center">Chronic add-on</th>
                                        <th class="text-center"> Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dependent in dependents %}
                                    <tr>

                                        <td>{{ forloop.counter }}</td>
                                        <td>{{dependent.firstName}} {{ dependent.surname}}</td>
                                        <td class="text-center">{{dependent.idNumber}} </td>
                                        <td class="text-center"> {{ dependent.gender }}</td>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input form-check-success"  checked>
                                            </div>
                                        </td>
                                        <td class="text-center  "><p class="badge badge-outline-success">active</p></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="data-wrapper">
                                <button type="submit" name="next" class="btn btn-dark float-left" onclick="window.history.back(); return false;"><< Back</button>
                            {% if last %}
                                <input type="submit" name="next" value="Next >>" class="btn btn-dark float-right">
                                <input type="hidden" name="last" value="{{ last }}">
                            {% endif %}
                        </div>
                        {% else %}
                            <p class="text-center badge-dark">Your search returned no members</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    </form>
{% endblock %}


{% block script %}
    <script>
    </script>
{% endblock %}

